
body{
    background-color:skyblue;
}
button{
    background-color:aqua;
    border-radius: 10px;
}
.div{
    width:400px;
    height:200px;
    border:2px solid black;
    margin-left:400px;
    margin-top:200px;
    box-sizing: border-box;
    padding-left:80px;
    background-color:antiquewhite;
}